/* Box sizing rules */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
ul[role=tablist] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Vissually hide elements for screen readers only */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
p.technology-subheading, h3.destination-subheading {
  font-family: "Barlow Condensed", sans-serif;
  color: hsl(231deg, 77%, 90%);
}

body {
  font-weight: 400;
  color: hsl(0deg, 0%, 100%);
  font-family: "Barlow Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}

h1 {
  font-size: clamp(5rem, 6vw + 1rem, 9.375rem);
  letter-spacing: 4.75px;
}

h2 {
  font-size: clamp(3.5rem, 7.6vw + 0.5rem, 6.25rem);
}
h2.technology-heading {
  font-size: clamp(1.5rem, 3vw + 1rem, 3.5rem);
}

h3 {
  font-size: clamp(1.5rem, 3vw + 1rem, 3.5rem);
}
h3.destination-subheading {
  font-size: 0.875rem;
  letter-spacing: 2.35px;
}

h4 {
  font-size: clamp(1rem, 2vw + 1rem, 2rem);
}

p {
  font-size: clamp(0.9375rem, 1.2vw + 0.5rem, 1.125rem);
}
p.technology-subheading {
  font-size: 1rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.info-boxes p {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-size: 1.75rem;
}

a {
  font-family: "Barlow Condensed", sans-serif;
}

.numbered-span {
  font-weight: 700;
  margin-right: 0.625rem;
  letter-spacing: 2.7px;
}

.section-heading {
  font-family: "Barlow Condensed", sans-serif;
  font-size: clamp(1rem, 2vw + 1rem, 1.75rem);
  text-transform: uppercase;
  margin-block: 3.125rem 5rem;
}
@media (max-width: 61.25em) {
  .section-heading {
    text-align: center;
  }
}
.section-heading > .numbered-span {
  color: rgba(255, 255, 255, 0.3);
}

.crew-text__profession {
  font-size: clamp(1rem, 2vw + 1rem, 2rem);
  color: hsl(231deg, 77%, 90%);
}

.crew-text__name {
  font-family: "Bellefair", serif;
  font-size: clamp(1.5rem, 4vw + 1rem, 3.5rem);
  text-transform: uppercase;
  margin-bottom: 1.6875rem;
}

.home-section__text h1 {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  color: hsl(231deg, 77%, 90%);
  font-size: clamp(1rem, 1.2vw + 1rem, 1.75rem);
  max-width: 30ch;
  line-height: 1.4;
  letter-spacing: 2px;
}
@media (max-width: 61.25em) {
  .home-section__text h1 {
    text-align: center;
    max-width: 23.75rem;
  }
}

.home-section__text span {
  font-family: "Bellefair", serif;
  color: hsl(0deg, 0%, 100%);
  font-size: clamp(5rem, 10vw + 1rem, 9.375rem);
}

.section-text > p,
.crew-text__bio,
.technology-info {
  max-width: 23.125rem;
  color: hsl(231deg, 77%, 90%);
  line-height: 1.6;
}
@media (max-width: 61.25em) {
  .section-text > p,
.crew-text__bio,
.technology-info {
    text-align: center;
    max-width: 25rem;
  }
}

@media (max-width: 61.25em) {
  .crew-text__bio {
    max-width: 25.625rem;
    margin-inline: auto;
  }
}

.technology-info {
  max-width: 21.9375rem;
}
@media (max-width: 61.25em) {
  .technology-info {
    text-align: center;
    max-width: 24.5rem;
    margin-top: 1rem;
  }
}

@media (max-width: 61.25em) {
  .technology-text {
    text-align: center;
  }
}

.btn-explore {
  font-family: "Bellefair", serif;
  font-size: clamp(1.25rem, 1.4vw + 1rem, 2rem);
  color: hsl(230deg, 35%, 7%);
  letter-spacing: 2px;
}

.btn {
  display: inline-grid;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: all 300ms ease;
}

.btn-menu {
  display: none;
}

.btn-explore {
  position: relative;
  place-items: center;
  padding: 1.875em;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: hsl(0deg, 0%, 100%);
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1000;
  outline: 0;
}
@media (max-width: 61.25em) {
  .btn-explore {
    margin-top: clamp(6.25rem, 4vw + 1rem, 9.375rem);
  }
}
.btn-explore::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: inherit;
  transform: scale(0.8);
  z-index: -1;
  opacity: 0;
  transition: all 700ms ease;
}
.btn-explore:is(:hover, :focus-visible)::before {
  opacity: 1;
  transform: scale(1.5);
}

.link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 2.7px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  transition: border-bottom 300ms ease;
}
@media (max-width: 61.25em) {
  .link {
    font-size: 0.875rem;
  }
}
.link:is(:hover, :focus-visible) {
  border-bottom: 4px solid rgba(255, 255, 255, 0.4);
}
.link.link--active {
  border-bottom: 4px solid hsl(0deg, 0%, 100%);
}

.destination-list {
  display: flex;
  align-items: center;
  gap: 2.1875rem;
}
@media (max-width: 61.25em) {
  .destination-list {
    justify-content: center;
    margin-bottom: 2.0625rem;
  }
}

.link-section {
  padding-bottom: 0.625rem;
  color: hsl(231deg, 77%, 90%);
  text-transform: uppercase;
}
.link-section.link--active {
  color: hsl(0deg, 0%, 100%);
}

.crew-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 61.25em) {
  .crew-links {
    justify-content: center;
    margin-top: clamp(1.875rem, 4vw + 0.3rem, 2.5rem);
  }
}
.crew-links .crew-link {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color 300ms ease;
}
.crew-links .crew-link:is(:hover, :focus-visible) {
  background-color: rgba(255, 255, 255, 0.55);
}
.crew-links .crew-link.crew-link--active {
  background-color: hsl(0deg, 0%, 100%);
}

.technology-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 61.25em) {
  .technology-list {
    flex-direction: row;
    justify-content: center;
    margin-top: 3.5rem;
  }
}
.technology-list .technology-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Bellefair", serif;
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: all 300ms ease;
}
@media (max-width: 61.25em) {
  .technology-list .technology-link {
    width: 3.625rem;
    height: 3.625rem;
    font-size: 1.5rem;
  }
}
.technology-list .technology-link:is(:hover, :focus-visible) {
  border: 2px solid hsl(0deg, 0%, 100%);
}
.technology-list .technology-link--active {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(230deg, 35%, 7%);
}

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.header {
  margin-top: clamp(1.625rem, 2vw + 1rem, 2.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 61.25em) {
  .header {
    margin-top: 0;
  }
}
.header::after {
  position: relative;
  content: "";
  display: block;
  margin-left: 3rem;
  position: relative;
  height: 0.125rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  order: 1;
}
@media (max-width: 61.25em) {
  .header::after {
    display: none;
  }
}
.header nav {
  order: 2;
}
.header .primary-navigation {
  display: flex;
  align-items: center;
  gap: min(5vw, 3rem);
  padding-inline: clamp(1.5rem, 4vw + 0.5rem, 9rem);
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  order: 2;
}
.header .primary-navigation .link {
  padding-block: 2.4375rem;
}

html,
body {
  overflow-x: hidden;
}

a:is(:hover, :focus-visible) {
  outline: none;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: min-content 1fr;
}
body main:not(.technology main) {
  display: grid;
  place-items: center;
}

.container {
  width: min(68.75rem, 100% - 1.25rem * 2);
  margin-inline: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 42.5rem)) minmax(2rem, 1fr);
  justify-items: center;
  align-items: end;
}
@media (max-width: 61.25em) {
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 6.3125rem;
}
@media (max-width: 61.25em) {
  .flex-container {
    flex-direction: column-reverse;
  }
}

body[class=home] {
  background-image: url("../../assets/home/background-home-desktop.jpg");
}
body[class=home] .home-section__text {
  grid-column: 2;
}
body[class=home] .home-section__btn {
  grid-column: 3;
}
@media (max-width: 61.25em) {
  body[class=home] {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
}

body[class=destination] {
  background-image: url("../../assets/destination/background-destination-desktop.jpg");
}
@media (max-width: 61.25em) {
  body[class=destination] {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }
}
body[class=destination] .section-img {
  grid-column: 2;
}
body[class=destination] .section-text {
  grid-column: 3;
}
body[class=destination] .section-text > p {
  padding-bottom: 3.125rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media (max-width: 61.25em) {
  body[class=destination] .section-text > p {
    max-width: 32rem;
  }
}
body[class=destination] .section-img,
body[class=destination] .section-text {
  margin-bottom: 7.5rem;
}

.info-boxes {
  display: flex;
  align-items: center;
  margin-top: 1.75rem;
  gap: 2.4375rem;
}
@media (max-width: 61.25em) {
  .info-boxes {
    justify-content: center;
  }
}

body[class=crew] {
  background-image: url("../../assets/crew/background-crew-desktop.jpg");
}
body[class=crew] .section-text {
  height: 100%;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 7.5rem;
}
body[class=crew] .section-img {
  grid-column: 3;
  padding-top: 4.375rem;
}

body[class=technology] {
  background-image: url("../../assets/technology/background-technology-desktop.jpg");
}
body[class=technology] .technology-main {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-inline: auto;
}
@media (max-width: 61.25em) {
  body[class=technology] .technology-main {
    flex-direction: column;
  }
}
