@use "../abstract/" as *;

body[class="crew"] {
  background-image: url("../../assets/crew/background-crew-desktop.jpg");

  .section-text {
    height: 100%;
    grid-column: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-bottom: rem(120);
  }

  .section-img {
    grid-column: 3;
    padding-top: rem(70);
  }
}
