@use "../abstract/" as *;

body[class="technology"] {
  background-image: url("../../assets/technology/background-technology-desktop.jpg");

  @include breakpoint("tablet") {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }

  @include breakpoint("mobile") {
    background-image: url("../../assets/technology/background-technology-mobile.jpg");
  }

  .technology-main {
    display: flex;
    align-items: center;
    gap: rem(80);

    margin-inline: auto;

    @include breakpoint("tablet") {
      flex-direction: column;
    }
  }
}
