$clr-dark: hsl(230, 35%, 7%);
$clr-accent: hsl(231, 77%, 90%);
$clr-white: hsl(0, 0%, 100%);
$clr-navigation: rgba($clr-white, 0.05);

$letter-spacing-1: 4.75px;
$letter-spacing-2: 2.7px;
$letter-spacing-3: 2.35px;
