$clr-dark: hsl(230, 35%, 7%);
$clr-accent: hsl(231, 77%, 90%);
$clr-white: hsl(0, 0%, 100%);

$letter-spacing-1: 4.75px; // On h5
$letter-spacing-2: 2.7px; // On h5
$letter-spacing-3: 2.35px; // On h5
