@use "../abstract/" as *;

.link {
  $padding: rem(39);
  display: inline-block;
  padding-bottom: $padding;
  border-bottom: 4px solid transparent;

  transition: border-bottom 300ms ease;

  &:is(:hover, :focus-visible) {
    border-bottom: 4px solid rgba($clr-white, $alpha: 0.4);
  }

  &.link--active {
    border-bottom: 4px solid $clr-white;
  }
}
