@use "../abstract/" as *;

// Primary header

.link {
  $padding: rem(39);
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: $clr-white;
  letter-spacing: $letter-spacing-2;
  border-bottom: 4px solid transparent;
  cursor: pointer;

  transition: border-bottom 300ms ease;

  &:is(:hover, :focus-visible) {
    border-bottom: 4px solid rgba($clr-white, 0.4);
  }

  &.link--active {
    border-bottom: 4px solid $clr-white;
  }
}

// Destination

.destination-list {
  display: flex;
  align-items: center;
  gap: rem(35);
}

.link-section {
  $padding: rem(10);
  padding-bottom: $padding;
  color: $clr-accent;
  text-transform: uppercase;

  &.link--active {
    color: $clr-white;
  }
}

// Crew

.crew-links {
  display: flex;
  align-items: center;
  gap: rem(24);

  .crew-link {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba($clr-white, 0.3);
    cursor: pointer;

    transition: background-color 300ms ease;

    &:is(:hover, :focus-visible) {
      background-color: rgba($clr-white, 0.55);
    }

    &.crew-link--active {
      background-color: $clr-white;
    }
  }
}

// Technology

.technology-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: rem(32);

  .technology-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "Bellefair", serif;
    font-size: clamp(rem(16), 2vw + 1rem, rem(32));
    width: rem(80);
    height: rem(80);
    border-radius: 50%;
    border: 2px solid rgba($clr-white, 0.3);
    cursor: pointer;

    transition: all 300ms ease;

    &:is(:hover, :focus-visible) {
      border: 2px solid $clr-white;
    }

    &--active {
      background-color: $clr-white;
      color: $clr-dark;
    }
  }
}
