@use "../abstract/" as *;

.logo {
  margin: rem(24) clamp(rem(24), 5vw, rem(56));
}

.header {
  margin-top: clamp(rem(26), 2vw + 1rem, rem(40));
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    position: relative;
    content: "";
    display: block;
    margin-left: 3rem;
    position: relative;
    height: rem(2);
    width: 100%;
    background-color: rgba($clr-white, 0.3);
    order: 1;
  }

  nav {
    order: 2;
  }

  .primary-navigation {
    display: flex;
    align-items: center;
    gap: min(5vw, rem(48));
    padding-inline: clamp(rem(64), 8.5vw + 1rem, rem(144));
    background-color: rgba($clr-white, 0.04);
    backdrop-filter: blur(10px);
    order: 2;

    .link {
      $padding: rem(39);
      padding-block: $padding;
    }
  }
}
