@use "../abstract/" as *;

html,
body {
  overflow-x: hidden;
}

a:is(:hover, :focus-visible) {
  outline: none;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: min-content 1fr;

  main:not(.technology main) {
    display: grid;
    place-items: center;
  }
}

.container {
  $max-width: rem(1100);
  $padding: rem(20);

  width: min($max-width, 100% - $padding * 2);
  margin-inline: auto;
}

.grid-container {
  display: grid;
  grid-template-columns:
    minmax(rem(32), 1fr) repeat(2, minmax(0, rem(680)))
    minmax(rem(32), 1fr);
  justify-items: center;
  align-items: end;

  @include breakpoint("tablet") {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-bottom: rem(101);

  @include breakpoint("tablet") {
    flex-direction: column-reverse;
  }
}
